@page "/"
@using MoonCore.Blazor.FlyonUI.Components

<PageTitle>Home</PageTitle>

<div class="mt-5 flex justify-center">

    <div class="gap-5 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4">
        <div class="card card-body">
            <div class="flex justify-between"><p class="text-xl">0%</p>
                <span class="text-4xl text-primary">
                    <i class="icon-cpu"></i>
                </span>
            </div>
            <p class="text-base text-base-content/50">CPU Usage</p></div>

        <div class="card card-body">
            <div class="flex justify-between"><p class="text-xl">634.84 MB</p>
                <span class="text-4xl text-primary">
                    <i class="icon-memory-stick"></i>
                </span>
            </div>
            <p class="text-base text-base-content/50">Memory Usage</p></div>

        <div class="card card-body">
            <div class="flex justify-between"><p class="text-xl">Ubuntu 24.04.2 LTS</p>
                <span class="text-4xl text-primary">
                    <i class="icon-server-cog"></i>
                </span>
            </div>
            <p class="text-base text-base-content/50">Host OS</p></div>

        <div class="card card-body">
            <div class="flex justify-between"><p class="text-xl">3d 0h 36m 14s</p>
                <span class="text-4xl text-primary">
                    <i class="icon-clock"></i>
                </span></div>
            <p class="text-base text-base-content/50">Uptime</p></div>

        <div class="card card-body">
            <div class="flex justify-center">
                <WButton OnClick="Restart" CssClasses="btn btn-error w-full">
                    <i class="icon-repeat text-xl text-white me-2"></i>
                    Restart/Shutdown
                </WButton>
            </div>
        </div>
    </div>
</div>

@code
{
    private async Task Restart(WButton button)
    {
        await button.UpdateLoadingText("Notifying plugins");
        await Task.Delay(TimeSpan.FromSeconds(1));
        
        await button.UpdateLoadingText("Stopping services");
        await Task.Delay(TimeSpan.FromSeconds(1));
        
        await button.UpdateLoadingText("Waiting for startup");
        await Task.Delay(TimeSpan.FromSeconds(5));
        
        await button.UpdateLoadingText("Starting services");
        await Task.Delay(TimeSpan.FromSeconds(1));
    }
}
