@page "/lazyloaders"

@using MoonCore.Blazor.FlyonUI.Components
@using MoonCore.Exceptions

<LazyLoader @ref="LazyLoader" Load="Load">
    <div class="card sm:max-w-sm">
        <div class="card-body"><h5 class="card-title mb-2.5">Welcome to Our Service</h5>
            <p class="mb-4">Discover the features and benefits that our service offers. Enhance your experience with our
                user-friendly platform designed to meet all your needs.</p>
            <div class="card-actions">
                <button @onclick="LazyLoader.Reload" class="btn btn-primary">Learn More</button>
            </div>
        </div>
    </div>
</LazyLoader>

@code
{
    private LazyLoader LazyLoader;
    
    private async Task Load(LazyLoader lazyLoader)
    {
        await Task.Delay(TimeSpan.FromSeconds(3));
        
        await lazyLoader.UpdateText("Doing one task");
        
        await Task.Delay(TimeSpan.FromSeconds(3));
        
        await lazyLoader.UpdateText("Doing another task");
        
        await Task.Delay(TimeSpan.FromSeconds(3));
    }
}
