@page "/tabstest"
@using MoonCore.Blazor.FlyonUI.Components

<Tabs>
    <Tab Title="One">
        Tab One
    </Tab>
    <Tab Title="Two">
        <div class="card sm:max-w-sm">
            <div class="card-body">
                <h5 class="card-title mb-2.5">Welcome to Our Service</h5>
                <p class="mb-4">Discover the features and benefits that our service offers. Enhance your experience with our user-friendly platform designed to meet all your needs.</p>
                <div class="card-actions">
                    <button class="btn btn-primary">Learn More</button>
                </div>
            </div>
        </div>
    </Tab>
</Tabs>