@page "/components/dropdowns"

@using MoonCore.Blazor.FlyonUI.Components

<div class="mb-5">
    <NavTabs Index="2" Names="UiConstants.ComponentsNames" Links="UiConstants.ComponentsLinks" />
</div>

<Dropdown Title="Testy">
    <li><a class="dropdown-item" href="#">My Profile</a></li>
    <li><a class="dropdown-item" href="#">Settings</a></li>
    <li><a class="dropdown-item" href="#">Billing</a></li>
    <li><a class="dropdown-item" href="#">FAQs</a></li>
</Dropdown>

@code
{
    
}
