@plugin "flyonui/theme" {
    name: "daylight";
    prefersdark: false;
    color-scheme: light;

    --color-base-100: rgb(255, 255, 255);
    --color-base-200: rgb(245, 245, 245);
    --color-base-300: rgb(230, 230, 230);
    --color-base-content: rgb(28, 36, 56);

    --color-primary: rgb(99, 102, 241);
    --color-primary-content: var(--color-base-100);

    --color-secondary: rgb(111, 118, 144);
    --color-secondary-content: var(--color-base-100);

    --color-accent: rgb(139, 92, 246);
    --color-accent-content: var(--color-base-100);

    --color-neutral: rgb(240, 240, 240);
    --color-neutral-content: rgb(28, 36, 56);

    --color-info: rgb(59, 130, 246);
    --color-info-content: var(--color-base-100);

    --color-success: rgb(34, 197, 94);
    --color-success-content: var(--color-base-100);

    --color-warning: rgb(234, 179, 8);
    --color-warning-content: var(--color-base-100);

    --color-error: rgb(239, 68, 68);
    --color-error-content: var(--color-base-100);

    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}