@plugin "flyonui/theme" {
    name: "moonlight";
    default: true;
    prefersdark: false;
    color-scheme: light;

    --color-base-100: rgb(28, 36, 56);
    --color-base-200: rgb(17, 23, 33);
    --color-base-300: rgb(14, 18, 28);
    --color-base-content: rgb(255, 255, 255);

    --color-primary: rgb(99, 102, 241);
    --color-primary-content: var(--color-base-content);

    --color-secondary: rgb(153, 161, 183);
    --color-secondary-content: var(--color-base-content);

    --color-accent: rgb(139, 92, 246);
    --color-accent-content: var(--color-base-content);

    --color-neutral: rgb(28, 36, 56);
    --color-neutral-content: rgb(249, 249, 249);

    --color-info: rgb(59, 130, 246);
    --color-info-content: var(--color-base-content);

    --color-success: rgb(34, 197, 94);
    --color-success-content: var(--color-base-content);

    --color-warning: rgb(234, 179, 8);
    --color-warning-content: var(--color-base-content);

    --color-error: rgb(239, 68, 68);
    --color-error-content: var(--color-base-content);

    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}
