@using MoonCore.Blazor.FlyonUi.Modals
@using MoonCore.Blazor.FlyonUi.Test.Frontend.UI.Components

@inject ModalService ModalService

<button @onclick="LaunchMultiLayerAsync" class="btn btn-primary">Launch multi layer</button>

@code
{
    private async Task LaunchMultiLayerAsync()
    {
        await ModalService.LaunchAsync<MultiLayerModal>(layer1 =>
        {
            layer1.Add(x => x.Text, "Layer 1");
            layer1.Add(x => x.FillerCount, 1);
            layer1.Add(x => x.HandleNext, async () =>
            {
                await ModalService.LaunchAsync<MultiLayerModal>(layer2 =>
                {
                    layer2.Add(x => x.Text, "Layer 2");
                    layer2.Add(x => x.FillerCount, 2);
                    layer2.Add(x => x.HandleNext, async () =>
                    {
                        await ModalService.LaunchAsync<MultiLayerModal>(layer3 =>
                        {
                            layer3.Add(x => x.Text, "Layer 3");
                            layer3.Add(x => x.FillerCount, 3);
                            layer3.Add(x => x.HandleNext, null);
                        }, allowUnfocusHide: true);
                    });
                }, allowUnfocusHide: true);
            });
        }, allowUnfocusHide: true);
    }
}
